// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 *
 */

#define rk3588
#include "rk3588-firefly-core.dtsi"
#include "rk3588-linux.dtsi"

/ {
	pcie_essd: pcie-essd {
               compatible = "regulator-fixed";
               regulator-name = "pcie_essd";
               regulator-min-microvolt = <2500000>;
               regulator-max-microvolt = <2500000>;
               enable-active-high;
               gpios = <&gpio3 RK_PB7 GPIO_ACTIVE_HIGH>;
               startup-delay-us = <5000>;
               vin-supply = <&vcc12v_dcin>;
               status = "disabled";
       };

	   pcie_clk1: pcie-clk1 {
                       compatible = "regulator-fixed";
                       regulator-name = "pcie_clk1";
                       regulator-boot-on;
                       regulator-always-on;
                       gpios = <&gpio3 RK_PC5 GPIO_ACTIVE_LOW>;
                       vin-supply = <&vcc12v_dcin>;
                       status = "okay";
       };

	   pcie_clk2: pcie-clk2 {
                       compatible = "regulator-fixed";
                       regulator-name = "pcie_clk2";
                       regulator-boot-on;
                       regulator-always-on;
                       gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_LOW>;
                       status = "okay";
       };

	   pcie_clk3: pcie-clk3 {
                       compatible = "regulator-fixed";
                       regulator-name = "pcie_clk3";
                       regulator-boot-on;
                       regulator-always-on;
                       gpios = <&gpio1 RK_PB1 GPIO_ACTIVE_LOW>;
                       status = "okay";
       };

};


&pcie3x2 {
       status = "disabled";
       num-lanes = <2>;
       reset-gpios = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
       vpcie3v3-supply = <&pcie_essd>;
};

&pcie30phy {
       rockchip,pcie30-phymode = <PHY_MODE_PCIE_NANBBI>;
	   status = "okay";
};

/*pc9202*/
&i2c0 {
	pinctrl-0 = <&i2c0m2_xfer>;
	pc9202@3c {
		status = "okay";
		compatible = "firefly,pc9202";
		reg = <0x3c>;
		index = <0>;
		wd-en-gpio = <&gpio2 RK_PC5 GPIO_ACTIVE_HIGH>;
		driver-names = "wdt_core";
	};

	hym8563: hym8563@51 {
		status = "okay";
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "hym8563";
		pinctrl-names = "default";
		pinctrl-0 = <&hym8563_int>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PB0 IRQ_TYPE_LEVEL_LOW>;
		wakeup-source;
	};
};


/* pinctrl */
&pinctrl {
 	hym8563 {
		hym8563_int: hym8563-int {
			rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
