@charset "utf-8";
/* CSS Document */
body{ margin:0px; padding:0px;color:#666; font-style:normal; font-family:"微软雅黑", Arial, Helvetica, sans-serif;font-size: 12px;}
body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea{ margin:0px; padding:0px;}
input, button, select, textarea {font-size:12px;}
a{ text-decoration:none;color:#666;outline:none; blr:expression (this.onFocus=this.blur());}
a:hover{ text-decoration:none; color:#a91717;}
img{ border:none;}
ul,ul li{ list-style:none; }
.clear{ height:0px; border:0px; margin:0p; padding:0px; clear:both; line-height:0px;}
.left {float:left;}
.right {float:right;}